@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  background: #afc3fa;
}

.curved, .bg-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3F0071;
  z-index: -2;
  clip-path: circle(98% at 0 0);
  transition-delay: 1.2s;
}

.bg-color {
  clip-path: circle(0% at 0 0);
}

.active {
  clip-path: circle(98% at 0 0);
  transition: 1.2s ease-out;
}

.form-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 400px;
  background-color: #23242a;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.25rem;
  overflow: hidden;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .form-box {
    width: 90%;
  }
}
.form-box h2 {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px auto;
  border-bottom: 2px solid #fff;
}
@media screen and (max-width: 768px) {
  .input-box {
    width: 90%;
  }
}
.input-box input {
  width: 100%;
  height: 50px;
  padding: 0 35px 0 5px;
  font-size: 1rem;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
}
.input-box input:focus ~ label, .input-box input:valid ~ label {
  top: -5px;
}
.input-box label {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .input-box label {
    font-size: 0.9rem;
  }
}
.input-box ion-icon {
  position: absolute;
  right: 8px;
  top: 16px;
  font-size: 1.2rem;
}

.forget-password {
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
@media screen and (max-width: 768px) {
  .forget-password {
    text-align: center;
    flex-direction: column;
    gap: 12px;
    margin: 30px 0;
  }
}
.forget-password label input {
  margin-left: 3px;
}
@media screen and (max-width: 768px) {
  .forget-password label input {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .forget-password {
    font-size: 0.8rem;
  }
}
.forget-password a {
  color: #fff;
  text-decoration: none;
}
.forget-password a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  color: #23242a;
  font-size: 1rem;
  border: none;
  outline: none;
  font-weight: 600;
}

.register-section {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register-section p a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}
.register-section p a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .register-section {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
